.order {
  border: 3px solid lime;
  display: inline-block;
  margin: 10px;
  background-color: yellow;
  border-radius: 25px;
}

.ingredient-list {
  list-style-type: none;
  padding: 0;
  width: 150px;
}